@page "/delegateduserapicall"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@inject IAccessTokenProvider P;

<h1>Data from Delegated User API</h1>

@if (apiData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in apiData)
            {
                <tr>
                    <td>@data</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string[] apiData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var t = await P.RequestAccessToken();
            t.TryGetToken(out var token);
            Console.WriteLine(token.Value);
            Console.WriteLine(string.Join(",", token.GrantedScopes));
        }
        catch (Exception ex)
        {
            Console.WriteLine("1 ====" + ex);
        }

        try
        {
            apiData = await Http.GetFromJsonAsync<string[]>("https://localhost:44324/" +"ApiForServiceData");
            //apiData = await Http.GetFromJsonAsync<string[]>("DelegatedUserApiCalls");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
